[submodule "mod/coursecertificate"]
	path = mod/coursecertificate
	url = https://github.com/moodleworkplace/moodle-mod_coursecertificate
[submodule "admin/tool/certificate"]
	path = admin/tool/certificate
	url = https://github.com/moodleworkplace/moodle-tool_certificate
[submodule "payment/gateway/stripe"]
	path = payment/gateway/stripe
	url = https://github.com/alexmorrisnz/moodle-paygw_stripe
[submodule "enrol/autoenrol"]
	path = enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol
[submodule "payment/gateway/bank"]
	path = payment/gateway/bank
	url = https://github.com/unesco-iesalc/paygw_bank
